{% extends 'layout.html' %}

{% block title %}Início{% endblock %}

{% block content %}
<h1>Sobre Mim</h1>
<p>Olá! Bem-vindo ao meu site pessoal desenvolvido em Flask.</p>

<p>
    Meu nome é Davi Tavares, sou estudante de TI e apaixonado por tecnologia. No meu dia a dia, 
    gosto muito de aprender novas linguagens de programação, montar projetos e resolver problemas lógicos.
</p>

<h2>O que eu gosto de fazer (Hobbies):</h2>
<ul>
    <li>Trabalhar e fazer coisas que me geram renda.</li>
    <li>Ouvir música e assistir filmes.</li>
    <li>Gosto de sair com amgos.</li>
</ul>
{% endblock %}

