{% extends 'layout.html' %}

{% block title %}Vida Profissional{% endblock %}

{% block content %}
<h1>Minhas Informações Profissionais</h1>
<p>Aqui você encontra um resumo da minha trajetória, habilidades e experiências na área profissional.</p>

<h2>Objetivo Profissional</h2>
<p>Atuar na área de Desenvolvimento de Software, buscando aplicar meus conhecimentos em Python, Flask e tecnologias Web.</p>

<h2>Formação Acadêmica</h2>
<ul>
    <li><strong>Curso Superior de Tecnologia em TI</strong> Cotemig (Em andamento)</li>
</ul>

<h2>Habilidades Técnicas</h2>
<ul>
    <li>Linguagens: Python, HTML, CSS, JavaScript, Php, Sql</li>
    <li>Frameworks: Flask</li>
    <li>Ferramentas: Git, GitHub, VS Code</li>
</ul>

<h2>Experiências / Projetos Desenvolvidos</h2>
<ul>
    <li><strong>Projeto Flask Menu:</strong> Criação e estruturação de rotas dinâmicas utilizando herança de templates com Jinja2.</li>
</ul>
{% endblock %}
